.header{
	background: #CC6600;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
}
h1, h2, h3, h4{
	margin-top: 0;
}
.sc{
	margin-top: 10px;
}
.quiz-list{
	padding: 10px;
	list-style: none;
	color: white;
}
.quiz-list li{
	padding: 10px;
	margin-bottom: 10px;
	background-color: rgb(75, 75, 75);
}
#choices {
	width: 100%;
}
.box {
	margin-bottom: 4px;
}
.container {
	margin-top: 20px;
}
.sidebar-right {
	padding: 10px;
	color: white;
	background-color: #5C5C5C;
}
body{
	background-color: white;
}
input[type=radio] {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	opacity: 0;
	position: absolute;
}
input[type=radio] + label {
  width: 100%;
}
input[type=radio] + label div {
  width: 100%;
  padding: 10px;
} 
input[type=radio]:checked + label div {
  background-color: green;
  border: 1px solid #6AA100;
}
.main-container{
	background-color: #DDD;
	padding: 15px;
	min-height: 300px;
}